

body
  margin 0px
  padding 0px
  overflow hidden

#content
  width 800px
  height 480px
  border 2px solid red
  overflow hidden
  
#faceplate
  position absolute
  width 900px
  height 540px
  top -30px
  left -50px

#pointer
  width 100%
  height auto
  top -85px
  left -175px
  transform-origin calc(50% + 25px) calc(50% + 12px);
  position absolute
  
.menu.middle2
  display block
  width 100%
  height 190px
  display flex
  justify-content stretch
  
.menu.middle2 .button
  flex 0 0 150px
  height 100%
  z-index 100
  
.menu.middle2 .dial
  flex 1 1 100%
  height 100%
  z-index 100
  
.menu.middle1
  display block
  width 100%
  height 235px
  display flex
  justify-content stretch
  
.menu.middle1 .button
  flex 0 0 150px
  height 100%
  z-index 100
  
.menu.middle1 .dial
  flex 1 1 100%
  height 100%
  z-index 100
  
.menu.top
  display block
  width 100%
  height 100px
  display flex
  justify-content stretch
  
.menu.top .button
  flex 1 1 100%
  height 100%
  z-index 100
  