[Unit]
Description=Philco EQ MQTT agent
After=sound.target network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=HOME=/root
ExecStart=/usr/bin/python3 -u /usr/local/bin/eq-agent.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
