

body
  margin 0px
  padding 0px
  overflow hidden
  
#faceplate
  position absolute
  width 100%
  height auto
  top 0px
  left 0px

#pointer
  width 100%
  height auto
  top 5px
  left -22px
  transform-origin calc(50% + 22px) calc(50% + 11px);
  position absolute
  
.menu.middle2
  display block
  width 100%
  height 190px
  display flex
  justify-content stretch
  
.menu.middle2 .button
  flex 0 0 150px
  height 100%
  z-index 100
  
.menu.middle2 .dial
  flex 1 1 100%
  height 100%
  z-index 100
  
.menu.middle1
  display block
  width 100%
  height 235px
  display flex
  justify-content stretch
  
.menu.middle1 .button
  flex 0 0 150px
  height 100%
  z-index 100
  
.menu.middle1 .dial
  flex 1 1 100%
  height 100%
  z-index 100
  
.menu.top
  display block
  width 100%
  height 100px
  display flex
  justify-content stretch
  
.menu.top .button
  flex 1 1 100%
  height 100%
  z-index 100
  